


.objetivos{
    width: 100%;
    background: green;
    height:20%;
}

.contactos{
    width: 100%;
    background: purple;
    height:8%;
}

.indicadores{
    width: 100%;
    background: orangered;
    height:20%;

}
.img{
    margin:10px auto;
    border-radius:5px;
    border: 1px solid #999;
    padding:13px;
    width:220px;
    height:220px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url(../img/PaginaPrincipal.jpg);
    background-size: cover;
    }
  .img img{
    width: 100%;
  }

