section{
    width: 100%;
    height: 640px;
}
section .Entradas{
   position: absolute;
   left: 35%;
   margin-top: 10%;
   width: 30%;
   height: 4.5%;
   border-style: solid;
   border-radius: 10px;
   font-family: Arial;
    font-size: 120%;
}
section .Boton{
    position: absolute;
    left: 55%;
    margin-top: 10%;
    width: 10%;
    height: 4.5%;
    border-style: solid;
    border-radius: 10px;
    font-family: Arial;
    font-size: 120%;
    color: white;
    background-color: #011737;
 }